{{!-- Our first template with tokens --}}
<div id="topic-id" data-topic-id = "{{ parent_id }}">
</div>

<section class="content-header">
    <h1>
        My Posts {Topic Name}
        <small>Some small text</small>

    </h1>
</section>
<div id="all-posts-container" class="content">

</div>
<div class="clearfix">
    <div class="text-center" id="paginator">
        <ul class="pagination pagination-centered pagination-lg ">

        </ul>
    </div>
</div>
<script src="public/js/post.js"></script>
